<body>
  <nav class="desktop-nav">
    <ul>
      <li><a href="/">Home</a></li>
      <% if(!currentUser){ %>
        <li class="logged-out"><a href="/login">Login</a></li>
        <li class="logged-out"><a href="/register">Sign Up</a></li>
      <% } else { %>
        <li class="logged-in"><a href="/logout">Logout</a></li>
        <li class="logged-in"><a href="/profile">My Profile</a></li>
      <% } %>
      <li><a href="/support">Support</a></li>
    </ul>
  </nav>

   <nav class="mobile-nav">
      <div id="menuToggle">
          <input type="checkbox" />
          <span></span>
          <span></span>
          <span></span>
          <ul id="menu">
            <a href="/"><li class="active">Home</li></a>
            <% if(!currentUser){ %>
              <a href="login.php"><li class="login">Login</li></a>
              <a href="/register"><li id="sign-up" class="logged-out">Sign Up</li></a>
            <% } else { %>
              <li class="logged-in"><a href="/logout">Logout</a></li>
              <li class="logged-in"><a href="/profile">My Profile</a></li>
            <% } %>
              <a href="/support"><li>Support</li></a>
          </ul>
      </div>
  </nav>
